<html>
<head>
<link rel="stylesheet" type="text/css" href="/templates/bootstrap/css/bootstrap.css" />
</head>
<title>MyBookDB</title>
<body background="/media/BackGround.jpg">
<br/>
<h1 align="center">Welcome To My Book Datebase</h1>
<br/>
<p align="center" target="_blank">This is a website to manage books,you can begin with add your new book.<a href="/add_book/" target="_blank"><input type="button" name="add_book" value="add a book" title="添加新的书籍"/></a> </p>
<br/>
<p align="center">or you can search a existing book</p><div align="center">{% include "SearchButton.html" %}</div>
</body>
</html>